.div-texto{
    background-color: aqua;
    border-top-left-radius: 10px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 10;
    border-bottom-left-radius: 50px;

}
.titulo{
    color:white;
    padding-left: 20px;
}
.red{
    color: red;
    padding-left: 20px;
}
.blue{
    color: blue;
    padding-left: 20px;
}
.yellow{
    color: yellow;
    padding-left: 20px;
}
.botones{
    background-color: whitesmoke;
    border-radius: 10px 20px 10px 20px;
    border: 1px royalblue solid;
}